/* COMEÇO ANIMAÇÕES */
@keyframes c-glowing-blue {
    0% {
      box-shadow: 0 0 5px var(--cor-azul-fraca), 0 0 5px var(--cor-azul-fraca), 0 0 15px var(--cor-azul-fraca), 0 0 20px var(--cor-roxa-fraca), 0 0 10px var(--cor-roxa-fraca), 0 0 10px var(--cor-roxa-fraca), 0 0 10px var(--cor-roxa-fraca), 0 0 10px var(--cor-roxa-fraca)
    }
  
    to {
      box-shadow: 0 0 2.5px var(--cor-azul-fraca), 0 0 2.5px var(--cor-azul-fraca), 0 0 7.5px var(--cor-azul-fraca), 0 0 10px var(--cor-roxa-fraca), 0 0 5px var(---cor-roxa-fraca), 0 0 5px var(--cor-roxa-fraca), 0 0 5px var(--cor-roxa-fraca), 0 0 2px var(---cor-roxa-fraca)
    }
  }
  
  @keyframes c-glowing-red {
    0% {
      box-shadow: 0 0 5px var(--cor-rosa-fraca), 0 0 5px var(--cor-rosa-fraca), 0 0 15px var(--cor-rosa-fraca), 0 0 20px var(--cor-rosa-principal), 0 0 10px var(--cor-rosa-principal), 0 0 10px var(--cor-rosa-principal), 0 0 10px var(--cor-rosa-principal), 0 0 10px var(--cor-rosa-principal)
    }
  
    to {
      box-shadow: 0 0 2.5px var(--cor-rosa-fraca), 0 0 2.5px var(--cor-rosa-fraca), 0 0 7.5px var(--cor-rosa-fraca), 0 0 10px var(--cor-rosa-principal), 0 0 5px var(--cor-rosa-principal), 0 0 5px var(--cor-rosa-principal), 0 0 5px var(--cor-rosa-principal), 0 0 2px var(--cor-rosa-principal)
    }
  }
  
  @keyframes text-glowing-blue {
    0% {
      text-shadow: 0 0 1px var(--cor-azul-fraca), 0 0 1px var(--cor-azul-fraca), 0 0 1px var(--cor-azul-fraca), 0 0 1px var(--cor-roxa-fraca), 0 0 5px var(--cor-roxa-fraca), 0 0 2px var(--cor-roxa-fraca), 0 0 10px var(--cor-roxa-fraca), 0 0 10px var(--cor-roxa-fraca)
    }
  
    to {
      text-shadow: 0 0 .5px var(--cor-azul-fraca), 0 0 .5px var(--cor-azul-fraca), 0 0 .5px var(--cor-azul-fraca), 0 0 .5px var(--cor-roxa-fraca), 0 0 5px var(--cor-roxa-fraca), 0 0 .5px var(--cor-roxa-fraca), 0 0 5px var(--cor-roxa-fraca), 0 0 2px var(--cor-roxa-fraca)
    }
  }
  
  @keyframes text-glowing-red {
    0% {
      text-shadow: 0 0 1px var(--cor-marrom-fraco), 0 0 1px var(--cor-marrom-fraco), 0 0 1px var(--cor-marrom-fraco), 0 0 1px var(--cor-rosa-fraca), 0 0 5px var(--cor-rosa-fraca), 0 0 2px var(--cor-rosa-fraca), 0 0 10px var(--cor-rosa-fraca), 0 0 10px var(--cor-rosa-fraca)
    }
  
    to {
      text-shadow: 0 0 .5px var(--cor-marrom-fraco), 0 0 .5px var(--cor-marrom-fraco), 0 0 .5px var(--cor-marrom-fraco), 0 0 .5px var(--cor-rosa-fraca), 0 0 5px var(--cor-rosa-fraca), 0 0 .5px var(--cor-rosa-fraca), 0 0 5px var(--cor-rosa-fraca), 0 0 2px var(--cor-rosa-fraca)
    }
  }
  
  /* FIM ANIMAÇÕES */