:root {
    --cor-rosa-principal: #ec69a0;
    --cor-vermelha-media: #f89284;
    --cor-rosa-fraca: #ffbeef;

    --cor-marrom-fraco: #ebd5d2;

    --cor-azul-principal: #0271F7;
    --cor-azul-media: #d3ffff;
    --cor-azul-fraca: #8fbff8;

    --cor-roxa-fraca: #9191f3;

    --cor-titulo-fraco: #f7ef86;
    --cor-titulo-forte: #f394c4;

    --cor-padrao: #ffffff;
    --cor-secundaria: #000000;
}